{% extends 'base.html' %}
{% block title %}Contact {% endblock title %}
{% block body %}
 <div class="container-fluid px-0 mb-3">
      <img src="  https://source.unsplash.com/1200x400/?phone,contact" class="d-block w-100 mx-0"
alt ="..."></div>
<div class="container py-4 ">
<h2 class="text-center">Contact Us</h2>
<form method="post" action="/contact">
        {% csrf_token %}    
        <div class="form-group">
          <label for="name" >Name</label>
          <input type="text" class="form-control" id="name" name ="name">
        </div>
        <div class="form-group">
                <label for="email1" >Email address</label>
                <input type="email" class="form-control" id="email1" name ="email" >

              </div>
              <div class="form-group">
                <label for="desc" >What u want to contact me for...</label>
                <textarea class="form-control" id="desc" name ="desc" ></textarea>
                
              </div>
              <div class="form-group">
                <label for="phone" >Phone No.</label>
                <input type="phone" class="form-control" id="phone" name="phone" >

              </div>
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock body %}